html {
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
}

header {
  height: 80px;
  width: 100%;
  margin: 0 0 10px 0;
  background-color: #6052DF;
  overflow: hidden;
}

header h2 {
  color: #fff;
  text-align: center;
  margin: 26px 0 0 0;
}

main {
  width: 960px;
  min-height: 500px;
  height: auto;
  margin: 0 auto;
  position:relative;
}
#connectControls {
  float: left;
  width: 300px;
  text-align: center;
  border: none;
  margin-right: 60px;
}
#otherClients {
  height: 200px;
  overflow-y:scroll;
}

#selfVideo {
  height: 225px;
  width: 300px;
  float: left;
  border: none;
  margin: 0 0 10px 0;
}
#callerVideo {
  height: 450px;
  width: 600px;
  border: none;
}

#showquestions {
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

#hidequestions {
  margin-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}

#questions {
  float: left;
}

#questionlist {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 350px; 
  margin-right: 10px;
  height: 450px;
}

footer {
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 10px 0 0 0;
  background-color: #6052DF;
}

#iam, #users {
  margin-bottom: 4px;
}

#users {
  margin-top: 10px;
}

#callervideowrapper {
  text-align: center;
  width: 600px;
  float: left;
}

#hangup {
  text-align: center;
  margin-top: 10px;
}